{
  "extends": "airbnb",
  "rules": {
    "func-names": ["error", "never"],
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "comma-dangle": ["error", "only-multiline"]
  }
}